# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build related
build/
compile_commands.json

# Valgrind
valgrind-out.txt

# VCPKG
vcpkg_installed/
vcpkg-configuration.json
vcpkg-manifest-install.log

# Other
.cache/
stdlib_test/
